.header{
  height: 65px;
  width: 100vw;
  background-color: white;
}
.header-content{
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  text-align: center;
}
.logo{
  text-decoration: none;
  color: black;
  font-family: 'Great Vibes', cursive;
  font-size: 30px;
  margin: 0 auto ;
}
.nav{
  display: flex;
}
.news{
  text-decoration: none;
  margin-right: 20px;
  color: black;
}
.how-to-use{
  text-decoration: none;
  margin-right: 20px;
  color: black;
}
.logout{
  text-decoration: none;
  color: black;
}
.header-login{
  text-decoration: none;
  color: black;
}

