.main{
  height: 100vh;
  width: 100vw;
  background-image: url('toppage.jpg');
  background-size: cover;
} 
.login{
  color: black;
  text-decoration: none;
}
.sign-up{
  color: black;
  text-decoration: none;
}
.main-texts{
  height: 100vh;
  display: flex;
  justify-content: space-between;
  padding: 0 150px;
}
.main-text{
  margin: auto 0;
}
.main-title{
  font-size: 100px;
  font-family: 'Great Vibes', cursive;
}
.main-sub-title{
  padding-left: 30px;
  font-size: 30px;
}
.sign-in-up-btn{
  margin: auto 0;
}
.login{
  color: rgb(0, 0, 0);
  font-size: 45px;
  margin-right: 30px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px;
  border-radius: 10px;
}
.sign-up{
  color: rgb(0, 0, 0);
  font-size: 45px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px;
  border-radius: 10px;
}